html,body{
    margin: 0;
    padding: 0;
}
body{
	font-family: Roboto,Arial,sans-serif;
	font-size: 10px;
	background: url(Images/robert-downey-jr.jpg) 50% no-repeat fixed,url(Images/pw_maze_black_@2X.png);
}
.header-container1{
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    height: 1170px;
}
.container-nav1{
    width:100%;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    padding-top: 17px;
    height: 100px;
}
.container-nav1 > h1{
    margin: 0;
    color: #ACB9BB;
    letter-spacing: 0.5rem;
    font-size: 1.8rem;
    animation: colorChange 8s infinite ease;
}
.container-nav1 > h3{
    color: #ACB9BB;
    letter-spacing: 0.4rem;
    font-size: 1rem;
    margin-top: 7.2px;
}
.rdj-img{
    background-image: url(Images/header-bg.png);
    background-attachment: scroll;
    background-position: -44rem -2rem;
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
}

.quotes-container{
    height: 100%;
}
.quotes{
    text-align: center;
    background-color: rgb(166, 208, 221);
    border-radius: 6%;
    width: 40%;
    font-size: 1.3rem;
    float: right;
    margin-top: 40px;
    margin-right: 24px;
    /* height: 220px; */
    height: fit-content;
    padding: 22px;
    box-shadow: -8px 0px 5px #FF6969,0px 10px 5px yellow;
    clear: right;
    position: relative;
    animation: fade-in-right 2s;
}
.quotes > h2{
    float: right;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #66347F;
}
.highlight{
    color: #FF6969;
}
.carousel{
    width: 95%;
    height: 550px;
    margin-top: 20px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 200px;
    border-radius: 20px;
}
.curve-border{
    border-radius: 28px;
}
.carousel-item{
    height: 550px;
    width: 100%;
}
.first{
    background-color: rgba(166, 208, 221,.6);
    /* background-color: rgba(154, 32, 140,.6); */
}
.second{
    background-color:rgba(255, 105, 105,.6);
    /* background-color: rgba(225, 18, 153,.6); */
}
.third{
    background-color: rgba(255, 211, 176,.6);
    /* background-color: rgba(255, 234, 234,.6); */
    
}
.fourth{
    background-color: rgba(255, 249, 222,.6);
    /* background-color: rgba(245, 198, 236,.6); */
}
.carousel-caption > p{
    font-size: 2rem;
    text-shadow: 4px 4px 5px black;
    margin-bottom: 0px;
}
.carousel-caption > h3{
    text-shadow: 4px 4px 5px black;
}
.carousel-caption > img{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 35px;
    position: relative;
    top: 10%;
    margin-bottom: 2px;
}
.carousel-caption > hr{
    border-style: none;
    border-top: dotted;
    border-width: 7px;
    border-color: rgb(0,0, 0);
    width: 10%;
    margin-right:auto;
    margin-left: auto;
}
.btn > a{
    text-decoration: none;
    color: white;
}
@keyframes fade-in-right{
    0%{
        opacity: 0;
        left: 200px;
    }
    100%{
        opacity: 1;
        left:0px ;
    }
}
@keyframes fade-in-left{
    0%{
        opacity: 0;
        right: 200px;
    }
    100%{
        opacity: 1;
        right: 0px;
    }
}
@keyframes fade-in-top{
    0%{
        opacity: 0;
        top: 200px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}
@keyframes fade-in-bottom{
    0%{
        opacity: 0;
        bottom: 200px;
    }
    100%{
        opacity: 1;
        bottom: 0;
    }
}
@keyframes colorChange{
    0%{
        color: #ACB9BB;
    }
    20%{
        color: #FF6969;
    }
    40%{
        color: #B9E9FC;
    }
    60%{
        color: #B0DAFF;
    }
    100%{
        color: #FEFF86;
    }
}
@media (max-width:1200px){
    .header-container1{
        width: 1000px;
    }
}
@media (max-width:960px){
    .header-container1{
        width: 770px;
    }
    .quotes > p{
        font-size: 1.2rem;
    }
    .quotes > h2{
        font-size: 1rem;
    }
    .carousel-caption > p{
        font-size: 1.5rem;
    }
}
@media (max-width:769px){
    .header-container1{
        width: 100%;
    }
    .quotes{
        bottom: -373px;
    }
    .quotes-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        grid-column-gap: 44px;
    }
    .first-quote{
        /* animation: none; */
        display: block;
        opacity: 1;
        grid-area: 1 / 1 / 2 / 6;
        width: 100%;
    }
    .second-quote{
        grid-area: 2 / 1 / 3 / 4    ;
        width: 100%;

    }
    .third-quote{
        grid-area: 2 / 4 / 3 / 6;
        width: 100%;
        height: 82%;
    }
}
@media (max-width:684px){
    .carousel-caption > p{
        margin-bottom: 0px;
        font-size: 1.1rem;
    }
    .third-quote{
        grid-area: 3/1/3/6;
        display: none;
    }
    .second-quote{
        grid-area: 2/1/2/6;
    }
}